.header{
	min-height: 60px;
	display: flex;
	background-color: #f9f9f9;
	position: sticky;
	top: 0;
	z-index: 100;
}

.header__menu{
	width:100%;
	align-items: center;
	justify-content: space-between;
	display: flex;
	padding: 0 15%;
}

.header .header__menu img:first-child {
	max-height: 2rem;
	object-fit: contain
}

.header .header__nav a {
	color: black;
	text-decoration: none;
	padding: 0.5rem;
	font-weight: bold;
}

.header .header__nav a:hover{
	transition: 150ms;
	border: 2px solid black;
}


